/*Principais arquivos*/
@use 'reset';
@use 'fonts';
@use 'giantsInfo';

/*variaveis*/

/*general*/
body{
    float: left;
    width: 100%;
}

/*Index*/
.fstPage{
    background-image: url("../img/fst-page-bg-giphy.gif");
    background-size: cover;
}

.wrapper{
    float: left;
    width: 100%;
    height: 100vh;
}

main{
    width: 40%;
    height: 390px;
    margin: 0 auto;

    // border-width: 4px;
    // border-style: solid;
    // border-image: rgb(2,0,36);
    // border-radius: 8px;
    // padding: 9px;

    border: 4px solid #003f69;
    border-radius: 5px;
    // background-image: linear-gradient(#130912, #130912) , radial-gradient(circle at top left, #0732bb, #6408a1);
    background-image: linear-gradient(to top, rgba(9, 14, 58, 0.5), rgba(19,9,18,1));
    // opacity: 0.8;

    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;

    header{

        float: left;
        width: 100%;

        div{

            float: left;
            margin: 10px;
            margin-left: 10%;
            margin-top: 20px;
        
            img{
                max-width: 100px;
                max-height: 100px;
                float: left;
                
                border-radius: 50%;
                border: 2px solid #fff;
            }
        }
        
        h1{
            font-family: longa-iberica;
            font-size: 3em;
            color: white;
            text-align: left;
            margin-top: 40px;
            margin-left: 10px;
            float: left;
            text-decoration: underline;
        }

    }

    .content-text{
        
        float: left;
        width: 80%;
        margin: 0 auto;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        max-height: 230px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 10px;
            background-color: rgb(109, 103, 109);
            border-radius: 30px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(90, 3, 112);
            border-radius: 30px;
            border: 1px solid black;
            -webkit-transition: opacity 1.2s ease;
        }
        &::-webkit-scrollbar-thumb:hover{
            background-color: rgb(253, 182, 194);
            -webkit-transition: opacity 1.2s ease;
        }

        >div{
            float: left;
            width: 90%;
            margin-bottom: 20px;
            margin-right: 10px;
            padding-left: 5px;
            padding-bottom: 3px;
            border-bottom: 1px solid #fff;

            a{
                color: blue;
                text-decoration: none;
                font-size: 22px;
                transition: .4s;
                
                &:hover{
                    color: lightblue;
                    transition: .4s;
                }
            }
        }

        p{
            font-family: westbourne-serif-regular;
            font-size: 20px;
            color: #fff;
            transition: .3s;
        }

        #CharsList{ 
            li{
                font-family: westbourne-serif-regular;
                font-size: 25px;
                a{
                    color: lightblue;
                    transition: all .4s;

                    &:hover{
                        color: rgb(60, 204, 252);
                        transition: all .5s;
                    }
                }
            }
        }

        .content-list {
            border-bottom: 1px solid transparent;
            padding-right: 5px;

            ul{
                float: left;
                width: 100%;

                li{
                    width: 33.33%;
                    float: left;
                    border: 1px solid blue;
                    padding: 5px;
                    text-align: center;
                    border-radius: 5px;

                    i{
                        font-size: 30px;
                        color: #fff;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}

/*general chars*/
.allCharPages{

    main{
        height: 500px;
    }

    .content-text{

        overflow-y: auto;
        max-height: 330px;

        &::-webkit-scrollbar{
            width: 10px;
            border-radius: 30px;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 30px;
        }

        //mini-menu
        .content-list{

            ul{

                li{
                    background-color: transparent;
                    transition: all .4s;

                    &:hover{
                        transition: all .4s;

                        i{
                            transition: all .3s;
                        }
                    }
                }
            }
        }


        div{
            border-bottom: 1px solid transparent;
            margin-bottom: 10px;
        }

        >div{
            width: 100%;
            margin: 0;
            margin-bottom: 15px;
            padding-right: 5px;
        }

        .content-info-atributes{

            div{
                float: left;
                width: 100%;
                margin-bottom: 10px;

                p{
                    float: left;
                }

                p:nth-child(1){
                    font-size: 34px;
                }

                p:nth-child(2){
                    color: #fff;
                    font-size: 50px;
                    margin-left: 12px;

                }
            }
        }
        
        .relationship-list{
            p{
                margin-bottom: 10px;

            }
        }
    }

    .content-info-favorite-magics{

        float: left;
        width: 100%;

        .wrapper-magic{

            float: left;
            width: 100%;
            border-bottom: 1px solid #fff;
            margin-bottom: 15px;

            .magic-img{
                float: left;
                margin-bottom: 5px;
                margin-right: 10px;

                img{
                    width: 100px;
                    height: 100px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
            }

            .magic-description{
                h2 {
                    font-size: 23px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    span{
                        font-size: 27px;
                        text-decoration: underline;
                        font-weight: normal;

                    }
                }
            }
        }
    }
}

/*Aephestos*/
.aephestosPage{
    background-image: url("../img/aephestos-bg-giphy.gif");
    background-size: cover;

    main{
        border: 4px solid #fed72f;
        background-image: linear-gradient(to top, rgba(255, 211, 15, 0.349), rgba(253, 245, 201, 0.562));

        .content-text{
            &::-webkit-scrollbar{
                background-color: #ba9b00;
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgb(236, 200, 47);
                border: 1px solid rgb(255, 255, 255);
            }
            &::-webkit-scrollbar-thumb:hover{
                background-color: #a48a2b;
            }

            .content-list{
                ul{
                    li{
                        border: 1px solid #ecc82f;

                        &:hover{
                            background-color: #796316;
                            i{
                                color: #fad75d;
                            }
                        }
                    }

                    .select{
                        background-color: #4e3c00;
                    }
                }
            }
        }

        .magic-description{
            h2 {
                color: #fee13d;
                span{
                    color:#dfbb00;
                }
            }
        }
    }
}

/*Draw*/
.drawPage{
    background-image: url("../img/draw-bg-giphy.gif");
    background-size: cover;

    main{
        border: 4px solid #a2fa1b;
        background-image: linear-gradient(to top, rgba(13, 88, 26, 0.466), rgb(12, 88, 29));

        .content-text{
            
            &::-webkit-scrollbar{
                background-color: rgb(81, 143, 78);
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgb(133, 179, 7);
                border: 1px solid black;
            }
            &::-webkit-scrollbar-thumb:hover{
                background-color: rgb(40, 228, 112);
            }

            .content-list{
                ul{
                    li{
                        border: 1px solid rgb(34, 255, 34);

                        &:hover{
                            background-color: #e2f1aa;
                            i{
                                color: #4d4141;
                            }
                        }
                    }

                    .select{
                        background-color: rgb(0, 153, 46);
                    }
                }

            }
        }

        .magic-description{
            h2 {
                color: #00ff6a;
                span{
                    color:rgb(128, 255, 177);
                }
            }
        }
    }
}

/*Mazabele*/
.mazabelePage{
    background-image: url("../img/mazabele-bg-giphy.gif");
    background-size: cover;

    main{
        border: 4px solid #ff44ef;
        background-image: linear-gradient(to top, rgba(202, 11, 123, 0.664), rgba(255, 0, 191, 0.199));

        .content-text{

            &::-webkit-scrollbar{
                background-color: rgb(222, 153, 171);
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgb(116, 58, 75);
                border: 1px solid rgb(189, 123, 140);
            }
            &::-webkit-scrollbar-thumb:hover{
                background-color: rgb(167, 28, 60);
            }

            .content-list{

                ul{
                    li{
                        border: 1px solid #ffa2c4;
                        i{
                            color: #cc1e55;
                        }
                        &:hover{
                            background-color: #ffb3c8;

                            i{
                                color: #fff;
                            }
                        }
                    }

                    .select{
                        background-color: #ffe8f0;
                    }
                }

            }
        }

        .magic-description{
            h2 {
                color: #fff;
                span{
                    color:rgb(241, 66, 118);
                }
            }
        }
    }
}

/*Zaos*/
.zaosPage{
    background-image: url("../img/zaos-bg-giphy.gif");
    background-size: cover;

    main{
        border: 4px solid #1c174d;
        background-image: linear-gradient(to top, rgba(0, 3, 156, 0.863), rgba(0, 5, 78, 0.199));

        .content-text{
            
            &::-webkit-scrollbar{
                background-color: rgb(26, 18, 54);
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgb(16, 8, 65);
                border: 1px solid rgb(53, 52, 52);
            }
            &::-webkit-scrollbar-thumb:hover{
                background-color: rgb(5, 20, 224);
            }

            .content-list{
                ul{
                    li{
                        border: 1px solid rgb(55, 227, 233);

                        &:hover{
                            background-color: #047ee2;

                            i{
                                color: #003eb3;                               
                            }
                        }
                    }

                    .select{
                        background-color: rgb(72, 84, 245);
                    }
                }
            }
        }

        .magic-description{
            h2 {
                color: #00ff6a;
                span{
                    color:rgb(128, 255, 177);
                }
            }
        }
    }
}


