/*Principais arquivos*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
dfn,
img,
kbd, q, s, samp,
tt, var,
u,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}

body {
  font-size: 100%;
  list-style-type: none;
}

@font-face {
  font-family: longa-iberica;
  src: url("../fonts/LongaIberica.ttf");
}
@font-face {
  font-family: dungeon-sn;
  src: url("../fonts/Dungeon_Sn.ttf");
}
@font-face {
  font-family: westbourne-serif-regular;
  src: url("../fonts/Westbourne_Serif_Regular.otf");
}
@font-face {
  font-family: westbourne-serif-italic;
  src: url("../fonts/Westbourne_Serif_Italic.otf");
}
.cloudColor {
  color: #a2c7bb;
  transition: 0.3s;
}
.cloudColor:hover {
  color: #5ca18c;
  transition: 0.3s;
}

.fireColor {
  color: #ac0d0d;
  transition: 0.3s;
}
.fireColor:hover {
  color: #7e3131;
  transition: 0.3s;
}

.hillColor {
  color: #78bd91;
  transition: 0.3s;
}
.hillColor:hover {
  color: #438b5e;
  transition: 0.3s;
}

.frostColor {
  color: #4ecdc4;
  transition: 0.3s;
}
.frostColor:hover {
  color: #98fff8;
  transition: 0.3s;
}

.stoneColor {
  color: #bbbebd;
  transition: 0.3s;
}
.stoneColor:hover {
  color: #75b49f;
  transition: 0.3s;
}

.stormColor {
  color: #6343d8;
  transition: 0.3s;
}
.stormColor:hover {
  color: #5b39d6;
  transition: 0.3s;
}

/*variaveis*/
/*general*/
body {
  float: left;
  width: 100%;
}

/*Index*/
.fstPage {
  background-image: url("../img/fst-page-bg-giphy.gif");
  background-size: cover;
}

.wrapper {
  float: left;
  width: 100%;
  height: 100vh;
}

/*Menu*/
.btn-menu {
  position: absolute;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: 20px;
  background-color: rgba(104, 105, 105, 0.662745098);
  overflow: hidden;
  width: 46px;
  height: 48px;
  border-radius: 10px;
  transition: 0.6s;
}
.btn-menu i {
  transition: 0.6s;
}
.btn-menu #showMenu {
  font-size: 43px;
  margin-left: 4px;
  margin-top: 2px;
}
.btn-menu:hover {
  background-color: rgba(68, 148, 148, 0.662745098);
  transition: 0.6s;
}
.btn-menu:hover i {
  color: #fff;
  transition: 0.6s;
}

#nav-menu {
  position: absolute;
  top: 0px;
  left: -255px;
  bottom: 0px;
  width: 250px;
  background-color: rgba(100, 95, 95, 0.596);
  box-shadow: 0px 0px 10px black;
  transition: left 0.5s linear;
}
#nav-menu #hideMenu {
  float: left;
  width: 100%;
  font-size: 30px;
  color: darkgrey;
  transition: 0.6s;
}
#nav-menu #hideMenu i {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
#nav-menu #hideMenu:hover {
  color: rgb(163, 44, 44);
  transition: 0.6s;
}
#nav-menu .wrapper-title-menu {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  margin-left: 10px;
}
#nav-menu .wrapper-title-menu .icon-nav-menu {
  float: left;
  margin-top: 10px;
  width: 20px;
}
#nav-menu .wrapper-title-menu .icon-nav-menu i {
  font-size: 16px;
  color: #fff;
}
#nav-menu .wrapper-title-menu p {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: westbourne-serif-regular;
  color: #fff;
  float: left;
  font-weight: bold;
}
#nav-menu ul {
  margin: 10px 10px 0 15px;
}
#nav-menu ul li {
  margin-bottom: 5px;
}
#nav-menu ul li a {
  font-size: 20px;
  margin-left: 20px;
  font-family: westbourne-serif-regular;
  color: #fff;
  margin: 10px;
  text-decoration: none;
  transition: 0.6s;
}
#nav-menu ul li a:hover {
  color: rgb(255, 93, 131);
  transition: 0.6s;
}

#nav-menu.show {
  left: 0px;
}

main {
  width: 40%;
  height: 390px;
  margin: 0 auto;
  border: 4px solid #003f69;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgba(9, 14, 58, 0.5), rgb(19, 9, 18));
  box-sizing: border-box;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
}
main header {
  float: left;
  width: 100%;
}
main header div {
  float: left;
  margin: 10px;
  margin-left: 10%;
  margin-top: 20px;
}
main header div img {
  max-width: 100px;
  max-height: 100px;
  float: left;
  border-radius: 50%;
  border: 2px solid #fff;
}
main header h1 {
  font-family: longa-iberica;
  font-size: 3em;
  color: white;
  text-align: left;
  margin-top: 40px;
  margin-left: 10px;
  float: left;
  text-decoration: underline;
}
main .content-text {
  float: left;
  width: 80%;
  margin: 0 auto;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  height: 230px;
  overflow-y: scroll;
}
main .content-text::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(109, 103, 109);
  border-radius: 30px;
}
main .content-text::-webkit-scrollbar-thumb {
  background-color: rgb(90, 3, 112);
  border-radius: 30px;
  border: 1px solid black;
  -webkit-transition: opacity 1.2s ease;
}
main .content-text::-webkit-scrollbar-thumb:hover {
  background-color: rgb(253, 182, 194);
  -webkit-transition: opacity 1.2s ease;
}
main .content-text > div {
  float: left;
  width: 90%;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-left: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
main .content-text > div a {
  color: blue;
  text-decoration: none;
  font-size: 22px;
  transition: 0.4s;
}
main .content-text > div a:hover {
  color: lightblue;
  transition: 0.4s;
}
main .content-text p {
  font-family: westbourne-serif-regular;
  font-size: 25px;
  color: #fff;
  transition: 0.3s;
}
main .content-text .charList {
  text-align: center;
}
main .content-text .charList p {
  font-size: 26px;
}
main .content-text #CharsList li {
  font-family: westbourne-serif-regular;
  text-align: center;
}
main .content-text #CharsList li a {
  font-size: 29px;
  color: lightblue;
  transition: all 0.4s;
}
main .content-text #CharsList li a:hover {
  color: rgb(60, 204, 252);
  transition: all 0.5s;
}
main .content-text .content-list {
  border-bottom: 1px solid transparent;
  padding-right: 5px;
}
main .content-text .content-list ul {
  float: left;
  width: 100%;
}
main .content-text .content-list ul li {
  width: 33.33%;
  float: left;
  border: 1px solid blue;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
main .content-text .content-list ul li i {
  font-size: 30px;
  color: #fff;
  transition: all 0.3s;
}

/*general chars*/
.allCharPages main {
  height: 500px;
}
.allCharPages main .content-text {
  overflow-y: auto;
  height: 330px;
}
.allCharPages main .content-text::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}
.allCharPages main .content-text::-webkit-scrollbar-thumb {
  border-radius: 30px;
}
.allCharPages main .content-text .content-list ul li {
  background-color: transparent;
  transition: all 0.4s;
}
.allCharPages main .content-text .content-list ul li:hover {
  transition: all 0.4s;
}
.allCharPages main .content-text .content-list ul li:hover i {
  transition: all 0.3s;
}
.allCharPages main .content-text div {
  border-bottom: 1px solid transparent;
  margin-bottom: 10px;
}
.allCharPages main .content-text > div {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 5px;
}
.allCharPages main .content-text .content-info-atributes div {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.allCharPages main .content-text .content-info-atributes div p {
  float: left;
}
.allCharPages main .content-text .content-info-atributes div p:nth-child(1) {
  font-size: 34px;
}
.allCharPages main .content-text .content-info-atributes div p:nth-child(2) {
  color: #fff;
  font-size: 50px;
  margin-left: 12px;
}
.allCharPages main .content-text .relationship-list p {
  margin-bottom: 10px;
}
.allCharPages .content-info-favorite-magics {
  float: left;
  width: 100%;
}
.allCharPages .content-info-favorite-magics .wrapper-magic {
  float: left;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}
.allCharPages .content-info-favorite-magics .wrapper-magic .magic-img {
  float: left;
  margin-bottom: 5px;
  margin-right: 10px;
}
.allCharPages .content-info-favorite-magics .wrapper-magic .magic-img img {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.allCharPages .content-info-favorite-magics .wrapper-magic .magic-description h2 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 5px;
}
.allCharPages .content-info-favorite-magics .wrapper-magic .magic-description h2 span {
  font-size: 27px;
  text-decoration: underline;
  font-weight: normal;
}

/*Aephestos*/
.aephestosPage {
  background-image: url("../img/aephestos-bg-giphy.gif");
  background-size: cover;
}
.aephestosPage main {
  border: 4px solid #fed72f;
  background-image: linear-gradient(to top, rgba(255, 211, 15, 0.349), rgba(253, 245, 201, 0.562));
}
.aephestosPage main .content-text::-webkit-scrollbar {
  background-color: #ba9b00;
}
.aephestosPage main .content-text::-webkit-scrollbar-thumb {
  background-color: rgb(236, 200, 47);
  border: 1px solid rgb(255, 255, 255);
}
.aephestosPage main .content-text::-webkit-scrollbar-thumb:hover {
  background-color: #a48a2b;
}
.aephestosPage main .content-text .content-list ul li {
  border: 1px solid #ecc82f;
}
.aephestosPage main .content-text .content-list ul li:hover {
  background-color: #796316;
}
.aephestosPage main .content-text .content-list ul li:hover i {
  color: #fad75d;
}
.aephestosPage main .content-text .content-list ul .select {
  background-color: #4e3c00;
}
.aephestosPage main .magic-description h2 {
  color: #fee13d;
}
.aephestosPage main .magic-description h2 span {
  color: #dfbb00;
}

/*Draw*/
.drawPage {
  background-image: url("../img/draw-bg-giphy.gif");
  background-size: cover;
}
.drawPage main {
  border: 4px solid #a2fa1b;
  background-image: linear-gradient(to top, rgba(13, 88, 26, 0.466), rgb(12, 88, 29));
}
.drawPage main .content-text::-webkit-scrollbar {
  background-color: rgb(81, 143, 78);
}
.drawPage main .content-text::-webkit-scrollbar-thumb {
  background-color: rgb(133, 179, 7);
  border: 1px solid black;
}
.drawPage main .content-text::-webkit-scrollbar-thumb:hover {
  background-color: rgb(40, 228, 112);
}
.drawPage main .content-text .content-list ul li {
  border: 1px solid rgb(34, 255, 34);
}
.drawPage main .content-text .content-list ul li:hover {
  background-color: #e2f1aa;
}
.drawPage main .content-text .content-list ul li:hover i {
  color: #4d4141;
}
.drawPage main .content-text .content-list ul .select {
  background-color: rgb(0, 153, 46);
}
.drawPage main .magic-description h2 {
  color: #00ff6a;
}
.drawPage main .magic-description h2 span {
  color: rgb(128, 255, 177);
}

/*Mazabele*/
.mazabelePage {
  background-image: url("../img/mazabele-bg-giphy.gif");
  background-size: cover;
}
.mazabelePage main {
  border: 4px solid #ff44ef;
  background-image: linear-gradient(to top, rgba(202, 11, 123, 0.664), rgba(255, 0, 191, 0.199));
}
.mazabelePage main .content-text::-webkit-scrollbar {
  background-color: rgb(222, 153, 171);
}
.mazabelePage main .content-text::-webkit-scrollbar-thumb {
  background-color: rgb(116, 58, 75);
  border: 1px solid rgb(189, 123, 140);
}
.mazabelePage main .content-text::-webkit-scrollbar-thumb:hover {
  background-color: rgb(167, 28, 60);
}
.mazabelePage main .content-text .content-list ul li {
  border: 1px solid #ffa2c4;
}
.mazabelePage main .content-text .content-list ul li i {
  color: #cc1e55;
}
.mazabelePage main .content-text .content-list ul li:hover {
  background-color: #ffb3c8;
}
.mazabelePage main .content-text .content-list ul li:hover i {
  color: #fff;
}
.mazabelePage main .content-text .content-list ul .select {
  background-color: #ffe8f0;
}
.mazabelePage main .magic-description h2 {
  color: #fff;
}
.mazabelePage main .magic-description h2 span {
  color: rgb(241, 66, 118);
}

/*Zaos*/
.zaosPage {
  background-image: url("../img/zaos-bg-giphy.gif");
  background-size: cover;
}
.zaosPage main {
  border: 4px solid #1c174d;
  background-image: linear-gradient(to top, rgba(0, 3, 156, 0.863), rgba(0, 5, 78, 0.199));
}
.zaosPage main .content-text::-webkit-scrollbar {
  background-color: rgb(26, 18, 54);
}
.zaosPage main .content-text::-webkit-scrollbar-thumb {
  background-color: rgb(16, 8, 65);
  border: 1px solid rgb(53, 52, 52);
}
.zaosPage main .content-text::-webkit-scrollbar-thumb:hover {
  background-color: rgb(5, 20, 224);
}
.zaosPage main .content-text .content-list ul li {
  border: 1px solid rgb(55, 227, 233);
}
.zaosPage main .content-text .content-list ul li:hover {
  background-color: #047ee2;
}
.zaosPage main .content-text .content-list ul li:hover i {
  color: #003eb3;
}
.zaosPage main .content-text .content-list ul .select {
  background-color: rgb(72, 84, 245);
}
.zaosPage main .magic-description h2 {
  color: #5871ff;
}
.zaosPage main .magic-description h2 span {
  color: rgb(133, 105, 201);
}

/*Gregorio*/
.gregorioPage {
  background-image: url("../img/gregorio-bg-giphy.gif");
  background-size: cover;
}
.gregorioPage main {
  border: 4px solid #24a745;
  background-image: linear-gradient(to top, rgba(149, 179, 20, 0.76), rgba(3, 70, 12, 0.63));
}
.gregorioPage main .content-text::-webkit-scrollbar {
  background-color: rgb(81, 87, 3);
}
.gregorioPage main .content-text::-webkit-scrollbar-thumb {
  background-color: rgb(2, 59, 6);
  border: 1px solid rgb(6, 221, 35);
}
.gregorioPage main .content-text::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 100, 4);
}
.gregorioPage main .content-text .content-list ul li {
  border: 1px solid rgb(109, 128, 4);
}
.gregorioPage main .content-text .content-list ul li:hover {
  background-color: #000000;
}
.gregorioPage main .content-text .content-list ul li:hover i {
  color: #918707;
}
.gregorioPage main .content-text .content-list ul .select {
  background-color: rgb(134, 123, 25);
}
.gregorioPage main .magic-description h2 {
  color: #113d14;
}
.gregorioPage main .magic-description h2 span {
  color: rgb(40, 61, 0);
}

/*# sourceMappingURL=style.css.map */
