<!DOCTYPE html>
<html>
<head>
    <title>Chars SKT</title>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <link href="../assets/fontaewsome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontaewsome/css/brands.css" rel="stylesheet">
    <link href="../assets/fontaewsome/css/solid.css" rel="stylesheet">
    
</head>

<body id="drawPageId">
    <div class="wrapper drawPage allCharPages">
        <main>
            <header>
                <div>
                    <img src="../img/draw.jpg" >
                </div>
                <h1>Draw</h1>
            </header>
            <div class="content-text">
                <div>
                    <p>Lathander and Hestia's cleric, he's a good half-orc that don't use
                        any weapon, only a shield because his deal is never hurt anyone! <br>
                    </p>
                </div>
                <div class="content-list">
                    <ul>
                        <li id="li-atributes" class="select"> <i class="fa-solid fa-gamepad"></i> </li>
                        <li id="li-relationship"> <i class="fa-solid fa-people-arrows"></i> </li>
                        <li id="li-favs-magics"> <i class="fa-solid fa-hat-wizard"></i> </li>
                    </ul>
                </div>
                <div class="content-info-atributes">
                    <div>
                        <p>Strenght: </p> <p id="atr-for"></p>
                    </div>
                    <div>
                        <p>Dexterity: </p> <p id="atr-dex"></p>
                    </div>
                    <div>
                        <p>Constitution: </p> <p id="atr-con"></p>
                    </div>
                    <div>
                        <p>Inteligence: </p> <p id="atr-int"></p>
                    </div>
                    <div>
                        <p>Wisdom: </p> <p id="atr-wis"></p>
                    </div>
                    <div>
                        <p>Charism: </p> <p id="atr-cha"></p>
                    </div>
                </div>

                <div class="content-info-relationship">

                    <div>
                        <p>Draw is a pacifist! Because of this, the person who has contribution with the caos
                            has a little bit of problems with him! He believes that everyone deserve another forgive!
                        </p>
                    </div>
                    <div class="relationship-list" id="relationship-list">

                    </div>
                </div>
                <div id="content-info-favorite-magics" class="content-info-favorite-magics" >
                    
                </div>
                
            </div>
        </main>
    </div>
</body>

</html>