<!DOCTYPE html>
<html>
<head>
    <title>Chars SKT</title>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="fstPage wrapper">
        <main>
            <header>
                <div>
                    <img src="/img/ded-logo.png" >
                </div>
                <h1> Draw</h1>
            </header>
            <div class="content-text">
                
            </div>
        </main>
    </div>
</body>

</html>