<!DOCTYPE html>
<html>
<head>
    <title>Chars SKT</title>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper drawPage">
        <main>
            <header>
                <div>
                    <img src="../img/draw.jpg" >
                </div>
                <h1>Draw</h1>
            </header>
            <div class="content-text">
                <div>
                    <p>Lathander and Hestia's cleric, he's a good half-orc that don't use
                        any weapon, only a shield because his deal is never hurt anyone! <br>
                    </p>
                </div>
                <div class="content-list">
                    <ul>
                        <li>atributos</li>
                        <li>ligações</li>
                        <li>magias favoritas</li>
                    </ul>
                </div>
                <div class="content-info">
                    
                </div>
                
            </div>
        </main>
    </div>
</body>

</html>