<!DOCTYPE html>
<html>
<head>
    <title>Mazabele</title>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <link href="../assets/fontaewsome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontaewsome/css/brands.css" rel="stylesheet">
    <link href="../assets/fontaewsome/css/solid.css" rel="stylesheet">
    
</head>

<body id="mazabelePageId">

    <div class="btn-menu">
        <div id="showMenu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div id="nav-menu" class="">
        <div id="hideMenu">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="wrapper-title-menu">
            <div class="icon-nav-menu"><i class="fa-solid fa-house"></i></div><p>Quick: </p>
        </div>
        <ul>
            <li><a href="../index.html">Home</a></li>
        </ul>
        <div class="wrapper-title-menu">
            <div class="icon-nav-menu"><i class="fa-regular fa-folder"></i></div><p>Chars:</p>
        </div>
        <ul>
            <li><a href="drawPage.html">Draw</a></li>
            <li><a href="mazabelePage.html">Mazabele</a></li>
            <li><a href="gregorioPage.html">Gregório</a></li>
            <li><a href="zaosPage.html">Zaos</a></li>
            <li><a href="aephestosPage.html">Aephestos</a></li>
        </ul>
        <div class="wrapper-title-menu">
            <div class="icon-nav-menu"><i class="fa-solid fa-crown"></i></div><p>Dungeon Master</p>
        </div>
        <ul>
            <li>
                <a href="">Master Danilo</a>
            </li>
        </ul>
        <div class="wrapper-title-menu">
            <div class="icon-nav-menu"><i class="fa-solid fa-dragon"></i></div><p>The plots</p>
        </div>
        <ul>
            <li><a href="">Giants</a></li>
            <li><a href="">SKT</a></li>
        </ul>
    </div>

    <div class="wrapper mazabelePage allCharPages">
        <main>
            <header>
                <div>
                    <img src="../img/mazabele.png" >
                </div>
                <h1>Mazabele</h1>
            </header>
            <div class="content-text">
                <div>
                    <p>She is a formidable and adept ranger who possesses great skill with her bow and arrow. <br >
                        Coming from the forest, she tends to be reserved and enjoys her solitude. 
                        However, she finds amusement in making witty mental jokes about everything
                        and everyone around her.
                    </p>
                </div>
                <div class="content-list">
                    <ul>
                        <li id="li-atributes" class="select" title="Atributes"> <i class="fa-solid fa-gamepad"></i> </li>
                        <li id="li-relationship" title="Relationship"> <i class="fa-solid fa-people-arrows"></i> </li>
                        <li id="li-favs-magics" title="Favourites Spells"> <i class="fa-solid fa-hat-wizard"></i> </li>
                    </ul>
                </div>
                <div class="content-info-atributes">
                    <div>
                        <p>Strenght: </p> <p id="atr-for"></p>
                    </div>
                    <div>
                        <p>Dexterity: </p> <p id="atr-dex"></p>
                    </div>
                    <div>
                        <p>Constitution: </p> <p id="atr-con"></p>
                    </div>
                    <div>
                        <p>Inteligence: </p> <p id="atr-int"></p>
                    </div>
                    <div>
                        <p>Wisdom: </p> <p id="atr-wis"></p>
                    </div>
                    <div>
                        <p>Charism: </p> <p id="atr-cha"></p>
                    </div>
                </div>

                <div class="content-info-relationship">

                    <div>
                        <p>Mazabele is a quiet individual who prefers silence over conversation. <br >
                            This inclination towards solitude often leads her to maintain a neutral stance in various aspects of her life, 
                            including her relationships with others.
                        </p>
                    </div>
                    <div class="relationship-list" id="relationship-list">

                    </div>
                </div>
                <div id="content-info-favorite-magics" class="content-info-favorite-magics" >
                    
                </div>
                
            </div>
        </main>
    </div>
</body>

</html>