<!DOCTYPE html>
<html>
<head>
    <title>Zaos</title>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <link href="../assets/fontaewsome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontaewsome/css/brands.css" rel="stylesheet">
    <link href="../assets/fontaewsome/css/solid.css" rel="stylesheet">
    
</head>

<body id="zaosPageId">
    <div class="wrapper zaosPage allCharPages">
        <main>
            <header>
                <div>
                    <img src="../img/zaos.jpg" >
                </div>
                <h1>Zaos</h1>
            </header>
            <div class="content-text">
                <div>
                    <p>A powerful sorcerer who loves to walk the edges of neutral and chaos! <br>
                        Cold, intelligent and insightful, he has everything to achieve his goals.
                    </p>
                </div>
                <div class="content-list">
                    <ul>
                        <li id="li-atributes" class="select" title="Atributes"> <i class="fa-solid fa-gamepad"></i> </li>
                        <li id="li-relationship" title="Relationship"> <i class="fa-solid fa-people-arrows"></i> </li>
                        <li id="li-favs-magics" title="Favourites Spells"> <i class="fa-solid fa-hat-wizard"></i> </li>
                    </ul>
                </div>
                <div class="content-info-atributes">
                    <div>
                        <p>Strenght: </p> <p id="atr-for"></p>
                    </div>
                    <div>
                        <p>Dexterity: </p> <p id="atr-dex"></p>
                    </div>
                    <div>
                        <p>Constitution: </p> <p id="atr-con"></p>
                    </div>
                    <div>
                        <p>Inteligence: </p> <p id="atr-int"></p>
                    </div>
                    <div>
                        <p>Wisdom: </p> <p id="atr-wis"></p>
                    </div>
                    <div>
                        <p>Charism: </p> <p id="atr-cha"></p>
                    </div>
                </div>

                <div class="content-info-relationship">

                    <div>
                        <p>Not necessarily he brings chaos to everything, 
                            but those who walk closer to it get his attention!
                        </p>
                    </div>
                    <div class="relationship-list" id="relationship-list">

                    </div>
                </div>
                <div id="content-info-favorite-magics" class="content-info-favorite-magics" >
                    
                </div>
                
            </div>
        </main>
    </div>
</body>

</html>